[user]
	name = Markus Nyman
	email = markus@nyman.dev
	signingKey = ""
[core]
	autocrlf = input
	editor = nvim
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[init]
	defaultBranch = master
[includeIf "gitdir:/Users"]
  path = ~/.gitconfig-macos
