[user]
    name = Markus
    email = markus@nyman.dev
    signingkey = B0F65D4A77E5E472!
[core]
    autocrlf = input
    editor = nvim
[gpg]
    program = gpg
[commit]
    gpgsign = true
[tag]
    forceSignAnnotated = false
[init]
    defaultBranch = master
[push]
    autoSetupRemote = true
[includeIf "gitdir:/Users"]
    path = ~/.gitconfig-macos
[core]
    excludesfile = ~/.gitignore_global
