[submodule "zsh/.zsh-syntax-highlighting"]
	path = zsh/.zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh-autosuggestions"]
	path = zsh/.zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.powerlevel10k"]
	path = zsh/.powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "ssh/.ssh"]
	path = ssh/.ssh
	url = git@github.com:masnen/ssh-config.git
