let mapleader=" "

set surround
set showmode
set scrolloff=5
set incsearch
set nu
set clipboard+=unnamed

sethandler <C-A> a:vim
sethandler <C-D> a:vim
sethandler <C-F> a:ide
sethandler <C-I> a:vim
sethandler <C-K> a:ide
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-R> a:vim
sethandler <C-S> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:vim

set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

map Q gq
inoremap jk <Esc>
inoremap kj <Esc>

nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>rf :action ReformatCode<CR>
nnoremap <leader>re :action RenameElement<CR>
nnoremap gn :action GotoNextError<CR>
nnoremap gp :action GotoPreviousError<CR>
vnoremap <leader>gc :action CommentByLineComment<CR>
