@import "mocha.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

/* All independent modules go here */
#workspaces,
#window,
#custom-spotify,
#idle_inhibitor,
#tray
{
    background-color: @surface0;
    margin: 7px 3px 0 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1rem;
}

/* Everything that belongs to a group goes here */
#clock,
#cpu,
#memory,
#temperature,
#pulseaudio
{
    background-color: @surface0;
    margin-top: 7px;
    padding: 10px 7px;
}

/* First module of group goes here */
#pulseaudio,
#cpu
{
    margin-left: 7px;
    padding-left: 10px;
    border-radius: 1rem 0 0 1rem;
}

/* Last module of group goes here */
#clock,
#temperature
{
    margin-right: 3px;
    padding-right: 10px;
    border-radius: 0rem 1rem 1rem 0;
}

/* Independent overrides (preferrably in order) */
#workspaces {
    min-width: 20px;
    min-height: 20px;
}

#workspaces button {
    color: @flamingo;
    border-radius: 1rem;
    padding-left: 6px;
    margin-top: 5px;
    box-shadow: inset 0 -3px transparent;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
    background-color: transparent;
}

#workspaces button.active {
    color: @green;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @rosewater;
    border-radius: 1rem;
}

#custom-spotify.playing {
    color: @green;
}

#idle_inhibitor {
    min-width: 30px;
    padding-right: 4px;
    padding-left: 0;
}

#idle_inhibitor.activated {
    background-color: @green;
}

#pulseaudio {
    color: @green;
}

#pulseaudio.muted {
    color: @red;
}

#clock {
    color: @lavender;
}

#cpu {
    color: @flamingo;
}

#memory {
    color: @mauve;
}

#temperature {
    color: @blue;
}

tooltip {
    background: @base;
    border: 1px solid @pink;
}

tooltip label {
    color: @text;
}
